#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 90%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.stylish-input {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1rem;
  border: 2px solid #e0e0e0;
  transition: all 0.3s ease;
}

.stylish-input:focus {
  border-color: #6a89ff;
  box-shadow: 0 0 12px rgba(106, 137, 255, 0.4);
}


.btn-load {
  background-color: #2196f3; /* Blue background */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px; /* Normal rounded corners */
  margin-right: 10px; /* Space between buttons */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-load:last-child {
  margin-right: 0; /* No margin on last button */
}

/* Optional: hover effect */
.btn-load:hover {
  background-color: #1976d2;
}
